$boxD: 85px;

$rouletteH: $boxD * 5;
$borderW: 3px;
#rouletteTable{
    width: $boxD * 13 + 100;
    height: $rouletteH;
    position: relative;
    margin: 0 auto;
    text-align: center;
    border-top: $borderW solid #fff;
    border-bottom: $borderW solid #fff;
    border-left: $borderW solid #fff;
    border-radius: 10px 0 0 10px;
    > *{
        float: right;
    }
    button{
        background: none;
        border: none;
        text-decoration: none;
        color: #fff;
        font-size: 2em;
    }
    button:hover{
        cursor: pointer;
        background: red;
    }
    .split{
        width: 100%;
        height: $borderW;
        background: #fff;
        display: block;
        z-index: 2;
        box-sizing: border-box;
    }

    #zeros{
        width: 90px;
        height: $rouletteH;
        > div{
            height: $rouletteH / 2;
            line-height: $rouletteH / 2;
            position: relative;
            box-sizing: border-box;
            .straight{
                width: 75px;
                height: 75px;
                background: #1B5E20;
                border-radius: 125px;
                border: 2px solid #fff;
            }
        }
        #N0, #N00{
            .split{
                position: relative;
                bottom: 0;
            }
        }
        #N0::after, #N0::before,
        #N00::after, #N00::before{
            content: '';
            width: $borderW;
            height: 53%;
            background: #fff;
            position: absolute;
            right: -1px;
        }
        #N0::after, #N00::after{
            top: -2px;
            transform: rotate(-15deg);
            transform-origin: top;
        }
        #N0::before, #N00::before{
            bottom: -2px;
            transform: rotate(15deg);
            transform-origin: bottom;
        }
    }
    #outsideBottom{
        width: 100%;
    }
}