#rouletteTable {
  width: 1165px;
  height: 425px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  border-radius: 10px 0 0 10px;
  box-sizing: border-box;
}
#rouletteTable > * {
  float: right;
}
#rouletteTable button {
  background: none;
  border: none;
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  padding: 0;
}
#rouletteTable button:hover {
  cursor: pointer;
}
#rouletteTable .left, #rouletteTable .topLine, #rouletteTable .right, #rouletteTable .bottom,
#rouletteTable .split, #rouletteTable .split0, #rouletteTable .split00, #rouletteTable .trio,
#rouletteTable .street, #rouletteTable .dbStreet, #rouletteTable .corner, #rouletteTable .basket {
  transition: all 0.1s ease-in-out;
}
#rouletteTable .left:hover, #rouletteTable .topLine:hover, #rouletteTable .right:hover, #rouletteTable .bottom:hover,
#rouletteTable .split:hover, #rouletteTable .split0:hover, #rouletteTable .split00:hover, #rouletteTable .trio:hover,
#rouletteTable .street:hover, #rouletteTable .dbStreet:hover, #rouletteTable .corner:hover, #rouletteTable .basket:hover {
  background-color: red !important;
}
#rouletteTable .split {
  width: 100%;
  height: 4px;
  background: #fff;
  display: block;
  z-index: 2;
  box-sizing: border-box;
}
#rouletteTable #zeros {
  width: 60px;
  height: 255px;
}
#rouletteTable #zeros > div {
  height: 127.5px;
  line-height: 137.5px;
  position: relative;
  box-sizing: border-box;
}
#rouletteTable #zeros > div .straight {
  width: 60px;
  height: 60px;
  border-radius: 125px;
  border: 2px solid #fff;
  line-height: normal;
  margin-left: 5px;
  position: relative;
}
#rouletteTable #zeros > div .straight::after {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 125px;
  position: absolute;
  top: -2px;
  left: -2px;
  margin: 0;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
#rouletteTable #zeros > div .straight:hover::after {
  opacity: 0.3;
}
#rouletteTable #zeros > div .split {
  position: absolute;
  bottom: -2px;
}
#rouletteTable #zeros #N00 {
  border-bottom: 4px solid #fff;
}
#rouletteTable #zeros #N0::after, #rouletteTable #zeros #N0::before,
#rouletteTable #zeros #N00::after, #rouletteTable #zeros #N00::before {
  content: "";
  width: 4px;
  height: 57.5%;
  background: #fff;
  position: absolute;
  right: -1px;
}
#rouletteTable #zeros #N0::after, #rouletteTable #zeros #N00::after {
  top: -2px;
  transform: rotate(-25deg);
  transform-origin: top;
}
#rouletteTable #zeros #N0::before, #rouletteTable #zeros #N00::before {
  bottom: -2px;
  transform: rotate(25deg);
  transform-origin: bottom;
}
#rouletteTable #inside .row {
  float: right;
}
#rouletteTable #inside .row > * {
  width: 85px;
  height: 85px;
  line-height: 85px;
  text-align: center;
  position: relative;
}
#rouletteTable #inside .row > * > .straight {
  width: 55px;
  height: 55px;
  border-radius: 100px;
  position: relative;
  top: 4px;
  left: 4px;
}
#rouletteTable #inside .row > * > .straight::after {
  content: "";
  width: 55px;
  height: 55px;
  border-radius: 125px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  transform: translate(-50%, -50%);
}
#rouletteTable #inside .row > * > .straight:hover::after {
  opacity: 0.3;
}
#rouletteTable #inside .row > * > *:not(.straight) {
  position: absolute;
  background: #fff;
}
#rouletteTable #inside .row > * .right, #rouletteTable #inside .row > * .left, #rouletteTable #inside .row > * .split0, #rouletteTable #inside .row > * .split00 {
  width: 4px;
  height: 100%;
}
#rouletteTable #inside .row > * .right {
  right: 0;
  top: 0;
}
#rouletteTable #inside .row > * .left {
  left: 0;
  top: 0;
}
#rouletteTable #inside .row > * .split0, #rouletteTable #inside .row > * .split00 {
  height: 50%;
  right: 0;
}
#rouletteTable #inside .row > * .split0 {
  top: 0;
}
#rouletteTable #inside .row > * .split00 {
  bottom: 0;
}
#rouletteTable #inside .row > * .bottom, #rouletteTable #inside .row > * .street {
  height: 4px;
  width: 100%;
  bottom: 0;
  left: 0;
}
#rouletteTable #inside .row > * .basket, #rouletteTable #inside .row > * .trio, #rouletteTable #inside .row > * .topLine {
  width: 4px;
  height: 4px;
  top: 50%;
  transform: translateY(-100%);
  right: 0;
  z-index: 5;
}
#rouletteTable #inside .row > * .basket {
  transform: translateY(-50%);
}
#rouletteTable #inside .row > * .topLine {
  top: 100%;
}
#rouletteTable #inside .row > * .corner, #rouletteTable #inside .row > * .dbStreet {
  width: 4px;
  height: 4px;
  bottom: 0;
  left: 0;
  z-index: 5;
}
#rouletteTable #inside #N1 > .trio {
  top: 100%;
}
#rouletteTable #inside #N3 > .trio {
  top: 0;
}
#rouletteTable #outsideLeft {
  width: 81px;
  height: 255px;
}
#rouletteTable #outsideLeft > * {
  border-right: 4px solid #fff;
  border-bottom: 4px solid #fff;
  height: 85px;
  line-height: 85px;
  width: 100%;
  font-size: 0.4em;
  box-sizing: border-box;
}
#rouletteTable #outsideLeft .diamondButton, #rouletteTable #outsideLeft .diamondButton::after {
  background-image: url("./Assets/diamondButton.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0.3em 1em;
  white-space: nowrap;
  transition: 0.1s all ease-in-out;
  position: relative;
}
#rouletteTable #outsideLeft .diamondButton::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./Assets/diamondButtonFilled.svg");
  opacity: 0;
  padding: 0;
}
#rouletteTable #outsideLeft .diamondButton:hover::after {
  opacity: 0.3;
}
#rouletteTable #outsideBottom {
  width: 100%;
}
#rouletteTable #outsideBottom > * {
  float: right;
  font-size: 0.8em;
  box-sizing: border-box;
}
#rouletteTable #outsideBottom #dozens {
  width: 1105px;
  margin-right: 60px;
  box-sizing: border-box;
}
#rouletteTable #outsideBottom #dozens > * {
  float: right;
  width: 368.3333333333px;
  height: 85px;
  line-height: 85px;
  border-right: 4px solid #fff;
  border-bottom: 4px solid #fff;
  box-sizing: border-box;
}
#rouletteTable #outsideBottom #evens {
  width: 1105px;
  margin-right: 60px;
  box-sizing: border-box;
}
#rouletteTable #outsideBottom #evens > * {
  float: right;
  width: 184.1666666667px;
  height: 85px;
  line-height: 85px;
  border-right: 4px solid #fff;
  border-bottom: 4px solid #fff;
  box-sizing: border-box;
  position: relative;
}
#rouletteTable #outsideBottom #evens #F19TO36 {
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
  border-radius: 0 0 0 10px;
}
#rouletteTable #outsideBottom #evens #F1TO18 {
  border-radius: 0 0 10px 0;
}
#rouletteTable #outsideBottom #evens .red, #rouletteTable #outsideBottom #evens .black {
  text-align: center;
}
#rouletteTable #outsideBottom #evens .diamond {
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-width: 30px;
  border-bottom-style: solid;
  position: relative;
  margin: 0 auto;
  top: -38.4615384615px;
  z-index: 1;
  transition: opacity 0.1s ease-in-out;
}
#rouletteTable #outsideBottom #evens .diamond .extension {
  content: "";
  position: absolute;
  left: -50px;
  top: 30px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top-width: 30px;
  border-top-style: solid;
  z-index: 1;
}
#rouletteTable #outsideBottom #evens .diamond.border {
  border: 56px solid transparent;
  border-bottom-width: 34px;
  border-bottom-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -99%);
  z-index: -1;
}
#rouletteTable #outsideBottom #evens .diamond.border .extension {
  left: -56px;
  top: 34px;
  border: 56px solid transparent;
  border-top-color: #fff;
  border-top-width: 34px;
  z-index: -1;
}
#rouletteTable #outsideBottom #evens .theRedBlack {
  width: 100px;
  height: 60px;
  direction: ltr;
  overflow: hidden;
  text-align: left;
  text-indent: -9999px;
  white-space: nowrap;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
#rouletteTable #outsideBottom #evens .theRedBlack span {
  visibility: hidden;
}
#rouletteTable #outsideBottom #evens .theRedBlack:hover + .diamond {
  opacity: 0.7;
}
#rouletteTable #outsideBottom .diamondButton, #rouletteTable #outsideBottom .diamondButton::after {
  background-image: url("./Assets/diamondButton.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0.3em 1em;
  white-space: nowrap;
  transition: 0.1s all ease-in-out;
  position: relative;
}
#rouletteTable #outsideBottom .diamondButton::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./Assets/diamondButtonFilled.svg");
  opacity: 0;
  padding: 0;
}
#rouletteTable #outsideBottom .diamondButton:hover::after {
  opacity: 0.3;
}/*# sourceMappingURL=App.css.map */