#rouletteTable {
  width: 1165px;
  height: 425px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  border-left: 4px solid #fff;
  border-radius: 10px 0 0 10px;
}
#rouletteTable > * {
  float: right;
}
#rouletteTable button, #rouletteTable #outsideLeft > * button::after {
  background: none;
  border: none;
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  padding: 0;
}
#rouletteTable button:hover, #rouletteTable #outsideLeft > * button:hover::after {
  cursor: pointer;
}
#rouletteTable .split {
  width: 100%;
  height: 4px;
  background: #fff;
  display: block;
  z-index: 2;
  box-sizing: border-box;
}
#rouletteTable #zeros {
  width: 60px;
  height: 255px;
}
#rouletteTable #zeros > div {
  height: 127.5px;
  line-height: 137.5px;
  position: relative;
  box-sizing: border-box;
}
#rouletteTable #zeros > div .straight {
  width: 60px;
  height: 60px;
  border-radius: 125px;
  border: 2px solid #fff;
  line-height: normal;
  margin-left: 5px;
}
#rouletteTable #zeros > div .split {
  position: absolute;
  bottom: -2px;
}
#rouletteTable #zeros #N00 {
  border-bottom: 4px solid #fff;
}
#rouletteTable #zeros #N0::after, #rouletteTable #zeros #N0::before,
#rouletteTable #zeros #N00::after, #rouletteTable #zeros #N00::before {
  content: "";
  width: 4px;
  height: 57.5%;
  background: #fff;
  position: absolute;
  right: -1px;
}
#rouletteTable #zeros #N0::after, #rouletteTable #zeros #N00::after {
  top: -2px;
  transform: rotate(-25deg);
  transform-origin: top;
}
#rouletteTable #zeros #N0::before, #rouletteTable #zeros #N00::before {
  bottom: -2px;
  transform: rotate(25deg);
  transform-origin: bottom;
}
#rouletteTable #inside .row {
  float: right;
}
#rouletteTable #inside .row > * {
  width: 85px;
  height: 85px;
  line-height: 85px;
  text-align: center;
  position: relative;
}
#rouletteTable #inside .row > * > .straight {
  width: 55px;
  height: 55px;
  border-radius: 100px;
}
#rouletteTable #inside .row > * > *:not(.straight) {
  position: absolute;
  background: #fff;
}
#rouletteTable #inside .row > * .right, #rouletteTable #inside .row > * .left, #rouletteTable #inside .row > * .split0, #rouletteTable #inside .row > * .split00 {
  width: 4px;
  height: 100%;
}
#rouletteTable #inside .row > * .right {
  right: 0;
  top: 0;
}
#rouletteTable #inside .row > * .left {
  left: 0;
  top: 0;
}
#rouletteTable #inside .row > * .split0, #rouletteTable #inside .row > * .split00 {
  height: 50%;
  right: 0;
}
#rouletteTable #inside .row > * .split0 {
  top: 0;
}
#rouletteTable #inside .row > * .split00 {
  bottom: 0;
}
#rouletteTable #inside .row > * .bottom, #rouletteTable #inside .row > * .street {
  height: 4px;
  width: 100%;
  bottom: 0;
  left: 0;
}
#rouletteTable #inside .row > * .basket, #rouletteTable #inside .row > * .trio, #rouletteTable #inside .row > * .topLine {
  width: 4px;
  height: 4px;
  top: 50%;
  transform: translateY(-100%);
  right: 0;
  z-index: 5;
}
#rouletteTable #inside .row > * .basket {
  transform: translateY(-50%);
}
#rouletteTable #inside .row > * .topLine {
  top: 100%;
}
#rouletteTable #inside .row > * .corner, #rouletteTable #inside .row > * .dbStreet {
  width: 4px;
  height: 4px;
  bottom: 0;
  left: 0;
  z-index: 5;
}
#rouletteTable #inside #N1 > .trio {
  top: 100%;
}
#rouletteTable #inside #N3 > .trio {
  top: 0;
}
#rouletteTable #outsideLeft {
  width: 85px;
  height: 255px;
}
#rouletteTable #outsideLeft > * {
  border-right: 4px solid #fff;
  border-bottom: 4px solid #fff;
  height: 85px;
  line-height: 85px;
  width: 100%;
  font-size: 0.4em;
  box-sizing: border-box;
}
#rouletteTable #outsideLeft > * button, #rouletteTable #outsideLeft > * button::after {
  background-image: url("./Assets/diamondButton.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0.3em 1em;
  white-space: nowrap;
  transition: 0.1s all ease-in-out;
  position: relative;
}
#rouletteTable #outsideLeft > * button::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./Assets/diamondButtonFilled.svg");
  opacity: 0;
  padding: 0;
}
#rouletteTable #outsideLeft > * button:hover::after {
  opacity: 0.3;
}
#rouletteTable #outsideBottom {
  width: 100%;
}/*# sourceMappingURL=App.css.map */