$boxD: 85px;

$rouletteH: $boxD * 5;
$borderW: 4px;
$zerosW: 60px;
$mainFrame: $boxD * 13;
$hoverOpacity: .3;
$tableW: $mainFrame + $zerosW;
$dozensW: $mainFrame / 3;

@mixin diamondButton {
    .diamondButton{
        background-image: url('./Assets/diamondButton.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        padding: .3em 1em;
        white-space: nowrap;
        transition: .1s all ease-in-out ;
        position: relative;
    }
    .diamondButton::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        @extend .diamondButton;
        background-image: url('./Assets/diamondButtonFilled.svg');
        opacity: 0;
        padding: 0;
    }
    .diamondButton:hover::after{
        opacity: $hoverOpacity;
    }
}
#rouletteTable{
    width: $tableW;
    height: $rouletteH;
    position: relative;
    margin: 0 auto;
    text-align: center;
    border-top: $borderW solid #fff;
    border-left: $borderW solid #fff;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
    > *{
        float: right;
        *{
            position: relative;
            transition: background .1s ease-in-out;
        }
        .indicator{
            background-color: rgba(255, 255, 255, 0.3);
            animation: blinker .8s linear infinite;
        }
        .mainIndicator{
            background: rgba(255, 255, 255, 1);
        }
        @keyframes blinker {
          50% {
            background-color: rgba(255, 255, 255, 0);
          }
        }
    }
    button{
        background: none;
        border: none;
        text-decoration: none;
        color: #fff;
        font-size: 2em;
        padding: 0;
    }
    button:hover{
        cursor: pointer;
    }
    .left, .topLine, .right, .bottom,
    .split, .split0, .split00, .trio,
    .street, .dbStreet, .corner, .basket{
        transition: all .1s ease-in-out;

    }
    .left:hover, .topLine:hover, .right:hover, .bottom:hover,
    .split:hover, .split0:hover, .split00:hover, .trio:hover,
    .street:hover, .dbStreet:hover, .corner:hover, .basket:hover{
        background-color: red !important;
    }
    .split{
        width: 100%;
        height: $borderW;
        background: #fff;
        display: block;
        z-index: 2;
        box-sizing: border-box;
    }

    #zeros{
        width: $zerosW;
        height: $boxD * 3;
        > div{
            $height: ($boxD * 3)  / 2; 
            height: $height;
            line-height: $height + 10;
            position: relative;
            box-sizing: border-box;
            $straightW: 60px;
            $straightH: 60px;
            .straight{
                width: $straightW;
                height: $straightH;
                border-radius: 125px;
                border: 2px solid #fff;
                line-height: normal;
                margin-left: 10px;
                position: relative;
            }
            .straight::after{
                content: '';
                width: $straightW;
                height: $straightH;
                border-radius: 125px;
                position: absolute;
                top: -$borderW / 2;
                left: -$borderW / 2;
                margin: 0;
                box-sizing: border-box;
                background-color: #fff;
                z-index: 1;
                opacity: 0;
                transition: opacity .1s ease-in-out;
            }
            .straight:hover::after{
                opacity: $hoverOpacity;
            }
            .split{
                position: absolute;
                bottom: -$borderW/2;
            }
        }
        #N00{
            border-bottom: $borderW solid #fff;
        }
        #N0::after, #N0::before,
        #N00::after, #N00::before{
            content: '';
            width: $borderW;
            height: 57.5%;
            background: #fff;
            position: absolute;
            right: -1px;
        }
        #N0::after, #N00::after{
            top: -2px;
            transform: rotate(-25deg);
            transform-origin: top;
        }
        #N0::before, #N00::before{
            bottom: -2px;
            transform: rotate(25deg);
            transform-origin: bottom;
        }
    }
    #inside{
        .row{
            float: right;
        }
        .row > *{
            width: $boxD;
            height: $boxD;
            line-height: $boxD;
            text-align: center;
            position: relative;
            $straightW: 55px;
            $straightH: 55px;
            > .straight{
                width: $straightW;
                height: $straightH;
                border-radius: 100px;
                position: relative;
                top: $borderW;
                left: $borderW / 2;
            }
            > .straight::after{
                content: '';
                width: $straightW;
                height: $straightH;
                border-radius: 125px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: 0;
                box-sizing: border-box;
                background-color: #fff;
                z-index: 1;
                opacity: 0;
                transition: opacity .1s ease-in-out;
                transform: translate(-50%, -50%);
            }
            > .straight:hover::after{
                opacity: $hoverOpacity;
            }
            > *:not(.straight, .chip){
                position: absolute;
                background: #fff;
            }
            .right, .left, .split0, .split00{
                width: $borderW;
                height: 100%;
            }
            .right{
                right: 0;
                top: 0;
            }
            .left{
                left: 0;
                top: 0;
            }
            .split0, .split00{
                height: 50%;
                right: 0;
            }
            .split0{
                top: 0;
            }
            .split00{
                bottom: 0;
            }
            .bottom, .street{
                height: $borderW;
                width: 100%;
                bottom: 0;
                left: 0;
            }
            .basket, .trio, .topLine{
                width: $borderW;
                height: $borderW;
                top: 50%;
                transform: translateY(-100%);
                right: 0;
                z-index: 5;
            }
            .basket{
                transform: translateY(-50%);
            }
            .topLine{
                top: 100%;
            }
            .corner, .dbStreet{
                width: $borderW;
                height: $borderW;
                bottom: 0;
                left: 0;
                z-index: 5;
            }
        }
        #N1 > .trio{
            top: 100%;
        }
        #N3 > .trio{
            top: 0;
        }

    }
    #outsideLeft{
        width: $boxD - $borderW;
        height: $boxD * 3;
        > *{
            border-right: $borderW solid #fff;
            border-bottom: $borderW solid #fff;
            height: $boxD;
            line-height: $boxD;
            width: 100%;
            font-size: .4em;
            box-sizing: border-box;
        }
        @include diamondButton;
    }
    #outsideBottom{
        width: 100%;
        > *{
            float: right;
            font-size: .8em;
            box-sizing: border-box;
        }
        #dozens{
            width: $mainFrame;
            margin-right: $zerosW;
            box-sizing: border-box;
            > *{
                float: right;
                width: $dozensW;
                height: $boxD;
                line-height: $boxD;
                border-right: $borderW solid #fff;
                border-bottom: $borderW solid #fff;
                box-sizing: border-box;
            }
        }
        #evens{
            width: $mainFrame;
            margin-right: $zerosW;
            box-sizing: border-box;
            > *{
                float: right;
                width: $mainFrame / 6;
                height: $boxD;
                line-height: $boxD;
                border-right: $borderW solid #fff;
                border-bottom: $borderW solid #fff;
                box-sizing: border-box;
                position: relative;
            }
            #F19TO36{
                border-left: $borderW solid #fff;
                border-bottom: $borderW solid #fff;
                border-radius: 0 0 0 10px;
            }
            #F1TO18{
                border-radius: 0 0 10px 0;
            }
            .red, .black{
                text-align: center;
            }

            $bSize: 50px;  
            $borderSize: $bSize - 20;    
            .diamond {
              width: 0;
              height: 0;
              border: $bSize solid transparent;
              border-bottom-width: $borderSize;
              border-bottom-style: solid;
              position: relative;
              margin: 0 auto;
              top: -$bSize / 1.3;
              z-index: 1;
              transition: opacity .1s ease-in-out;
              .extension {
                content: '';
                position: absolute;
                left: -$bSize;
                top: $borderSize;
                width: 0;
                height: 0;
                border: $bSize solid transparent;
                border-top-width: $borderSize;
                border-top-style: solid;
                z-index: 1;
              }
            }
            .diamond.border{
              $DBorder: $borderW;    
              $BorderbSize: $bSize + $DBorder * 1.5;
              $BorderwSize: $borderSize + $DBorder;
              border: $BorderbSize solid transparent;
              border-bottom-width: $BorderwSize;
              border-bottom-color: #fff;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -99%);
              z-index: -1;
                  .extension {
                      left: -$BorderbSize;
                      top: $BorderwSize;
                      border: $BorderbSize solid transparent;
                      border-top-color: #fff;
                      border-top-width: $BorderwSize;
                      z-index: -1;
                  }
             }
            .theRedBlack{
                width: $bSize * 2;
                height: $borderSize * 2;
                direction: ltr;
                overflow: hidden;
                text-align: left;
                text-indent: -9999px;
                white-space: nowrap;
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
              span{
                visibility: hidden;
              }
            }
            .theRedBlack:hover + .diamond{
                opacity: 1 - $hoverOpacity;
            }
          
        }
        @include diamondButton;
    }
    .chip{
        position: absolute;
        z-index: 10;
        transform: translate(-50%, -50%);
    }
}

@mixin charcoalButton {
    .card{
        border-radius: 10px;
        -webkit-box-shadow: 5px 10px 20px 5px rgba(0,0,0,0.4); 
        box-shadow: 5px 10px 20px 5px rgba(0,0,0,0.4);
        background: rgb(11,43,34);
        background: linear-gradient(45deg, rgba(230,81,0,1) 0%, rgba(0,0,0,1) 100%);
    }
    .charcoalButton{
        text-decoration: none;
        color: #fff;
        padding: 12px 24px;
        font-size: 20px;
        border: 0;
        border-radius: 5px;
        display: inline-block;
        transition: transform .1s ease-in-out;
        transform-origin: bottom center;
    }
    .charcoalButton:hover{
        cursor: pointer;
        transform: scale(.9);
    }
}
#daWheel{
    width: 445px;
    height: 445px;
    position: relative;
    margin: 50px auto;
    @include charcoalButton;
    img{
        display: none;
    }
    .charcoalButton{
        $w: 100px;
        width: $w;
        height: $w;
        border-radius: $w;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform-origin: center center;
    }
    .charcoalButton:hover{
        cursor: pointer;
        transform: translate(-50%, -50%) scale(.9);
    }
    .notice{
        position: absolute;
        padding: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5em;
        color: #fff;
        text-align: center;
    }
    .number{
        $w: 150px;
        width: $w;
        height: $w;
        border-radius: $w;
        line-height: $w;
        font-size: 6em;
    }
    .number:hover{
        cursor: default;
        transform: translate(-50%, -50%);
    }
}
#betBoard{
    width: $tableW;
    margin: 50px auto;
    text-align: center;
    #buyInConsole{
        margin: 2em;
        color: #fff;
        h2{
            font-size: 2em;
            margin: .5em 0;
        }
        #minNotice, #maxNotice, #chipNotice{
            display: inline-block;
            padding: .25em;
            margin: 0 .25em;
            transition: all .1s ease-in-out;
        }
        .active{
            border: 2px solid red;
        }
        input{
            font-size: 2em;
            text-align: center;
            width: 200px;
            height: 50px;
            color: #fff;
            background-color: rgba(255, 255, 255, 0.1);
            border: none;
            display: block;
            margin: .5em auto;
        }
        @include charcoalButton;
    }
    $betConsoleW: 200px;
    #betConsole{
        height: $betConsoleW;
        color: #fff;
        text-align: left;
        > *{
            max-height: 100%;
            text-align: center;
            float: left;
        }
        #amountSection{
            width: $dozensW - $borderW;
            margin: 0;
            padding: $betConsoleW / 3 0;
        }
        #chipSection{
            width: $dozensW * 2;
            height: 100%;
            border-left: $borderW solid #fff;
            box-sizing: content-box;
            position: relative;
            $chipW: 100px;
            #chips{
                width: $chipW * 4;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                .chipContainer{
                    width: $chipW;
                    height: $chipW;
                    display: inline-block;
                    box-sizing: border-box;
                    padding: 12.5px;
                    transition: .1s all ease-in-out;
                    .amount{
                        margin-top: .25em;
                        font-size: 1.1em;
                    }
                }
                .chipContainer.active{
                    
                }
                .chipContainer.fade{
                    opacity: $hoverOpacity;
                }
            }
        }
    }
    #gameOver{
        color: #fff;
        padding: 25px;
        box-sizing: border-box;
        background: linear-gradient(45deg, rgba(112,18,18,1) 0%, rgba(0,0,0,1) 100%);
        border-radius: 10px;
    }
    #reward{
        width: 100%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        #congrats{
            font-size: 1.2em;
            margin-bottom: 30px;
        }
        @include charcoalButton;
    }
}
.chip{
    width: 40px;
    height: 40px;
    border: none;
    background: transparent center no-repeat;
    background-size: contain;
}
.chip.c5{
    background-image: url('./Assets/c5.png');
}
.chip.c25{
    background-image: url('./Assets/c25.png');
}
.chip.c50{
    background-image: url('./Assets/c50.png');
}
.chip.c100{
    background-image: url('./Assets/c100.png');
}
.chip.c500{
    background-image: url('./Assets/c500.png');
}
.chip.c1000{
    background-image: url('./Assets/c1000.png');
}
.chip.c5000{
    background-image: url('./Assets/c5000.png');
}
.chip.c10000{
    background-image: url('./Assets/c10000.png');
}
.chip:hover{
    cursor: pointer;
}
